<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<style type="text/css">
    *{ margin:0px; padding: 0px;}
    body{ font-family: 'Lato', sans-serif; font-size:13px; color: #000;}
    .cont_hdng{ font-size: 24px; font-weight: bold; color: #000; text-emphasis: left;}
    .comp_branche{ padding: 0px; margin: 0px;}
    .branch_country{ font-size: 20px; font-weight: bold; color: #297ec1; padding-bottom: 0px;}
    .branch_city{ font-size: 16px; font-weight: bold; color: #333131;}
    .comp_branche > p{     font-size: 16px;color: #8d97ad;}
    .spacebtm{ margin-bottom: 30px!important;}
    .comp_branche > p > a{ text-decoration: none;}
    .comp_branche > p > a:hover{ text-decoration: none;}
    .cnt_hdr{ letter-spacing: .06em;font-size: 20px;font-weight: 800;border-bottom: 1px solid rgba(0,0,0,0.14);padding: 0px 0px 10px;color: rgba(0,0,0,0.87);}
	.comp_branche p strong {color: #2b7ec1;}
</style>
</head>

	<body>


<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="comp_branche">
                <!-- <h4 class="branch_country">About CelebKonect</h4> -->
                <!-- <h5 class="branch_city">Sydney</h5> -->
                <p><strong>CelebKonect</strong> is a unique online social engagement platform allowing Fans and Celebrities to Konect on a personal level.</p>
               <p>Through our secure real-time communication environment, you can now experience interaction with a celebrity that is live, personal, engaging and exhilarating.</p>
                <!-- <p>Phone :<span> <b>+61 402 374 747</b></span></p> -->
                <p>With the option of texts, audio, and/or video calls, if your dream is to Konect with your favourite celebrities and influencers just as you do now with your friends, then CelebKonect will help you realize those dreams</p>
                <p>Unlike other social media platforms, CelebKonect lets you stay Konected with celebrities and influencers from any industry.</p>
                <p>Does it still feel like a dream? Not anymore. Download the App and get Konecting.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                <h3 class="cnt_hdr">Contact Us</h3>
               
            <div class="comp_branche">
                <h4 class="branch_country">Australia</h4>
                <h5 class="branch_city">Sydney</h5>
                <p>Level 10, 220 George Street, Sydney NSW 2000.</p>
                <!-- <p>Phone :<span> <b>+61 402 374 747</b></span></p> -->
            </div>
            <hr>
            <div class="comp_branche">
                <h4 class="branch_country">India</h4>
                <h5 class="branch_city">Bengaluru</h5>
                <p>#811, 10th A Main, 1st Floor, Suite 234, indira Nagar, Bengaluru - 560038.</p>
                <p>Karnataka - India</p>
                <p class="spacebtm"><b>Phone :</b><span> +91 8186948581 </span></p>

                <h5 class="branch_city">Hyderabad</h5>
                <p>1250, Rd Number 62, Jubilee Hills, Hyderabad, Telangana - 500033.</p>
                <p><b>Phone :</b><span> 040 23555521,  &nbsp;+91 8186948581 </span></p>
            </div>
            <hr>
            <div class="comp_branche">
                <h4 class="branch_country">E-mail Us</h4>
                <p><a href="mailto:support@celebkonect.com" target="_top">support@celebkonect.com</a></p>
            </div>


        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>


