<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  crossorigin="anonymous">
<style type="text/css">
    *{ margin:0px; padding: 0px;}
    body{ font-family: arial, tahoma, verdana; font-size:13px; color: #000;}

    .cont_hdng{ font-size: 24px; font-weight: bold; color: #000; text-emphasis: left;}
    .comp_branche{ padding: 0px; margin: 0px;}
    .branch_country{ font-size: 20px; font-weight: bold; color: #297ec1; padding-bottom: 5px;}
    .branch_city{ font-size: 16px; font-weight: bold; color: #000;}
    .comp_branche > p{ padding: 0px; margin: 0px; font-size: 14px; margin-top:0px;}
    .spacebtm{ margin-bottom: 30px!important;}
    .comp_branche > p > a{ text-decoration: none;}
    .comp_branche > p > a:hover{ text-decoration: none;}



</style>


<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
            

            <div class="comp_branche">
                <h4 class="branch_country">Australia</h4>
                <h5 class="branch_city">Sydney</h5>
                <p>Level 10</p>
                <p>220 George Street</p>
                <p>Sydney NSW 2000</p>
                <!-- <p>Phone :<span> <b>+61 402 374 747</b></span></p> -->
            </div>
            <hr>
            
            <div class="comp_branche">
                <h4 class="branch_country">India</h4>
                <h5 class="branch_city">Bengaluru</h5>
                <p>NO 811, 10th A MAIN, 1st FLOOR,</p>
                <p>SUITE 234, INDIRANAGAR</p>
                <p>BENGALORE</p>
                <p>Bengaluru - 560038</p>
                <p>Karnataka - India</p>
                <p class="spacebtm">Phone :<span> <b> +91 8186948581 </b></span></p>

                <h5 class="branch_city">Hyderabad</h5>
                <p>1250, Rd Number 62, Jubilee Hills,</p>
                <p>Hyderabad</p>
                <p>Telangana 500033</p>
                <p>Phone :<span> <b>040 23555521,  &nbsp;+91 8186948581 </b></span></p>
            </div>
            <hr>
            
            <div class="comp_branche">
                <h4 class="branch_country">E-mail Us</h4>
                <p><a href="mailto:support@celebkonect.com" target="_top">support@celebkonect.com</a></p>
            </div>
            <hr>


        </div>
    </div>
</div>









<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>