
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"  crossorigin="anonymous">
<style type="text/css">
    *{ margin:0px; padding: 0px;}
    body{ font-family: arial, tahoma, verdana; font-size:13px; color: #000;}

    .cont_hdng{ font-size: 24px; font-weight: bold; color: #000; text-emphasis: left;}
    .comp_branche{ padding: 0px; margin: 0px;}
    .branch_country{ font-size: 20px; font-weight: bold; color: #297ec1; padding-bottom: 5px;}
    .branch_city{ font-size: 16px; font-weight: bold; color: #000;}
    .comp_branche > p{ padding: 0px 0px 20px 0px; margin: 0px; font-size: 14px; margin-top:0px; line-height: 20px;}
    .spacebtm{ margin-bottom: 30px!important;}
    .comp_branche > p > a{ text-decoration: none;}
    .comp_branche > p > a:hover{ text-decoration: none;}



</style>


<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
            

            <div class="comp_branche">
                <!-- <h4 class="branch_country">About CelebKonect</h4> -->
                <!-- <h5 class="branch_city">Sydney</h5> -->
                <p><strong>CelebKonect,</strong> is a unique online social engagement platform allowing Fans and Celebrities to Konect on a personal level.</p>
               <p>Through our secure real-time communication environment, you can now experience interaction with a celebrity that is live, personal, engaging and exhilarating.</p>
                <!-- <p>Phone :<span> <b>+61 402 374 747</b></span></p> -->
                <p>With the option of texts, audio, and/or video calls, if your dream is to Konect with your favourite celebrities and influencers just as you do now with your friends, then CelebKonect will help you realize those dreams</p>
                <p>Unlike other social media platforms, CelebKonect lets you stay Konected with celebrities and influencers from any industry.</p>
                <p>Does it still feel like a dream? Not anymore. Download the App and get Konecting.</p>
            </div>
            
            
           


        </div>
    </div>
</div>









<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>